PORT=4000

# Railway Variables (use in Railway Raw Editor - BACKEND SERVICE)
ALLOWED_ORIGINS="${{shared.ALLOWED_ORIGINS}}"
DATABASE_URL="${{Postgres-yF1a.DATABASE_URL}}"
GOOGLE_CLIENT_ID="772917032967-4g7ue9o35vmfa0sg9la9l0ijqn5bn8i4.apps.googleusercontent.com"
JWT_SECRET="5b0dde4a9259397af6d453242c2e56f25e1b71f5af8bb8aeef0081dab25885056b5e7aebf25ed593aea1722be16ec52cbb1187a57284cb08b86fcf0dbddee5fa"

# SMTP Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="charleslouiealvaran@gmail.com"
SMTP_PASS="dlvnhfquecwgmzfw"
SMTP_FROM="charleslouiealvaran@gmail.com"
SMTP_TO="charleslouiealvaran@gmail.com"

# reCAPTCHA Configuration
RECAPTCHA_SECRET_KEY="6LeQLw0sAAAAAHJQNogxlPOGcnlecMeH1sk-ad9C"

# For local development, use actual values:
# ALLOWED_ORIGINS=https://cladev.up.railway.app,http://localhost:5173
# DATABASE_URL=postgresql://postgres:IGhyZZyOQXiEskzwoeSYzSkMQvnFVgEv@centerbeam.proxy.rlwy.net:52495/railway
# GOOGLE_CLIENT_ID=772917032967-4g7ue9o35vmfa0sg9la9l0ijqn5bn8i4.apps.googleusercontent.com
# JWT_SECRET=5b0dde4a9259397af6d453242c2e56f25e1b71f5af8bb8aeef0081dab25885056b5e7aebf25ed593aea1722be16ec52cbb1187a57284cb08b86fcf0dbddee5fa
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=charleslouiealvaran@gmail.com
# SMTP_PASS=dlvnhfquecwgmzfw
# SMTP_FROM=charleslouiealvaran@gmail.com
# SMTP_TO=charleslouiealvaran@gmail.com
# RECAPTCHA_SECRET_KEY=6LeQLw0sAAAAAHJQNogxlPOGcnlecMeH1sk-ad9C


